.node {
    height: 95px;
    width: 120px;

}


.node0-pos {
    position: absolute;
    left: 20px;
    top: 100px;
    
}

.node1-pos {
    position: absolute;
    left: 150px;
    top: 100px;
}


.node2-pos {
    position: absolute;
    left: 280px;
    top: 100px;
}

.node3-pos {
    position: absolute;
    left: 410px;
    top: 100px;
}

.node4-pos {
    position: absolute;
    left: 540px;
    top: 100px;
}
.node5-pos {
    position: absolute;
    left: 670px;
    top: 100px;
}
.node6-pos {
    position: absolute;
    left: 800px;
    top: 100px;
}
.node7-pos {
    position: relative;
    left: 930px;
    top: 100px;
}
.node8-pos {
    position: absolute;
    left: 750px;
    top: 30px;
}
.node9-pos {
    position: absolute;
    left: 750px;
    top: 120px;
}
